/*CSS FILE*/

* {
   margin = 0;
   padding = 0;

}

body {
    background-color: #A9A9A9;
}

nav {
    width: 200%;
    height: 200px;
    background-color: #A9A9A9;
    text-align: center;
}

ul {
   margin-left: 60px;
   text-align: center;

}

ul li {
   list-style: none;
   display: inline-block;
   float: left;
   line-height: 100px;
   text-align: center;
}

ul li a {
   display: block;
   text-decoration: none;
   font-size: 14px;
   font-family: Times New Roman;
   color: #1e1e1e;
   padding: 0 20px;
   text-align: center;
}

ul li a:hover {
   color:red;
   text-align: center; 
   
}
   

